<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cart</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/cart-styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div class="Navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="">Tragopan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home<span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="menu">Menu</a>
          <a class="nav-item nav-link" href="/login">Switch</a>
        </div>
      </div>
    </nav>
  </div>

  <section class="h-100 h-custom" style="background-color: #CDFCF6;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Your Cart</h1>
                      <h6 class="mb-0 text-muted"></h6>
                    </div>
                    <hr class="my-4">







                  <%allCartItems.forEach(function(food_item){%>

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src=<%=food_item.picture%>
                          class="img-fluid rounded-3" alt="Food-Item">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted"><%=food_item.ingredients%></h6>
                        <h6 class="text-black mb-0"><%=food_item.item%></h6>
                      </div>
                      <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>

                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm" />

                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div> -->
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">Rs <%=food_item.price%></h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                    <hr class="my-4">
                  <%});%>






                    <div class="pt-5">
                      <h6 class="mb-0"><a href="/menu" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to Menu</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Total</h5>
                      <h5>Rs. <%=TotalnoCharges%></h5>

                    </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">To Pay</h5>

                        <h7 class="text-muted">(Charges inclusive +40Rs)</h7>
                      <h5>Rs. <%=Total%></h5>
                    </div>

                    <h5 class="text-uppercase mb-3">Campus</h5>

                    <form class="" action="/orderNow" method="post">
                      <div class="mb-4 pb-2">
                        <select class="select" name="Campus">
                          <option value="North">North</option>
                          <option value="South">South</option>
                          <option value="Kammand">Kammand</option>

                        </select>
                      </div>

                      <h5 class="text-uppercase mb-3">Hostel</h5>

                      <div class="mb-5">
                        <div class="form-outline">
                          <input type="text" id="form3Examplea2" class="form-control form-control-lg" name="hostelNo" required/>
                          <label class="form-label" for="form3Examplea2">Will be delivered at the front gate</label>
                        </div>
                      </div>
                      <input type="number" name=<%=Total%> value="payable"  hidden>



                      <button type="submit" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Order Now</button>
                    </form>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
